<div class="blogs">
  <div class="heading">
    <mat-icon>widgets</mat-icon>
    <span>Recent Blogs</span>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" *ngFor="let item of blogs">
        <mat-card>
          <div>
            <img
              src="{{ 'assets/images/' + item?.image }}"
              alt="{{ item?.title }}"
              class="card-image"
            />
          </div>

          <mat-card-header class="card-header">
            <mat-card-title>{{ item?.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ item?.desc }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
