.container {
  background: white;
  border-radius: 5px;
  color: var(--text-color);
  padding: 10px 0px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  .heading {
    padding: 4px 4px;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  mat-icon {
    font-size: 17px;
  }
  .header_desc {
    background: var(--bg-color);
    padding: 10px 30px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: 12px;
  }
}
